{
  "parser": "babel-eslint",
  "env": {
      "es6": true,
      "browser": true,
      "node": true
  },
  "plugins": [
    "react",
    "react-native"
  ],
  "parserOptions": {      
    "ecmaFeatures": {
        "jsx": true,
        "modules": true           
    }
  },
  "rules": {
      "semi": "error",
      "quotes": ["error", "single"],
      "comma-dangle": "error",
      "no-empty": "warn",
      "complexity": ["error", 2],
      "eqeqeq": "error",
      "no-delete-var": "error",
      "no-dupe-args": "error",
      "no-dupe-keys": "error",
      "no-empty-function": "error",
      "no-unreachable": "error",
      "no-unused-vars": "error",
      "react/jsx-uses-vars": 2,
      "react/jsx-uses-react": 2
  }
}
